@font-face {
	src: url(../fonts/SouthernAire.ttf);
	font-family: title;
}

@font-face {
	src: url(../fonts/Smith.ttf);
	font-family: smith;
}

* {
	margin: 0;
	/* font-family: Helvetica; */
}

body {
	max-width: 1366px;
	margin: 0px auto;
	background-color: darkgray;
	font-family: Helvetica;
}

header {
	height: auto;
	width: 100%;
	background-color: aqua;
	display: flex;
	flex-direction: column;
	background-image: url("../img/sunrise.jpg");
	background-size: cover;
	background-position: 50% 37%;
	align-items: center;
	/* opacity: 0.5; */
}

h3 {
	font-size: 17px;
	font-weight: 600;
}

h4 {
	font-size: 15px;
	font-weight: 600;
}

h5 {
	font-size: 13px;
	font-weight: 300;
}

.text-color {
	color: #454545;
}

.text-color2 {
	color: #4a4a4a;
}

.flex-box {
	display: flex;
}

#app-title {
	display: flex;
	flex-direction: column;
	height: fit-content;
	width: fit-content;
	/* background-color: blueviolet; */
	padding: 5px;
	background: rgba(255, 255, 255, .2);
	border-radius: 5px;
	font-family: smith;
}

#app-title > h1 {
	/* background-color: brown; */
	margin: 0px auto;
	text-align: center;
	font-size: 48px;
	/* background: rgba(255, 255, 255, .2); */
}

#app-title > h2 {
	/* background-color: cadetblue; */
	margin: 0px auto;
	text-align: center;
	font-size: 40px;
	/* background: rgba(255, 255, 255, .2); */
}

nav {
	/* background-color: crimson; */
	padding: 5px;
}

nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/* background-color: #333333; */
	display: flex;
	flex-direction: row;
	justify-content: center;
}
/* 
nav > ul > li {
  float: left;
} */

nav > ul > li a {
	display: block;
	font-weight: 800;
	color: black;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	border-radius: 20px;
}

nav > ul > li a:hover {
	/* background-color: #111111; */
	color: slategrey;
}

main {
	display: flex;
	flex-direction: row;
	height: 450px;
}

aside {
	width: 450px;
	/* background-color: rgb(8, 60, 77); */
	background-color: #f0f0f0;
	overflow: hidden;
	/* padding: 10px; */
	display: flex;
	flex-direction: column;
}

#profile_bar {
	height: 50px;
	display: flex;
	flex-direction: row;
	padding: 10px;
	border-bottom: solid 1px #dedede;
}

#profile_pict {
	width: 50px;
}

#profile_stat {
	flex-grow: 100;
	overflow: hidden;
	/* background-color: royalblue; */
	margin-left: 10px;
	align-items: center;
}

#profile_icon {
	/* background-color: red; */
	width: 90px;
	justify-content: space-around;
	align-items: center;
}

#foto_profil {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}

#chat_bar {
	/* height: -webkit-fill-available; */
	flex-grow: 100;
	display: flex;
	flex-direction: column;
	/* background-color: sandybrown; */
	/* padding: 10px; */
}

.chat_list {
	height: 50px auto;
	background-color: #fff;
	border-bottom: solid 1px #dedede;
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.chat_pict {
	/* width: 50px;
	height: 50px; */
	width: max-content;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#foto_profil2 {
	/* height: 100%; */
	height: 50px;
	width: 50px;
	object-fit: cover;
	border-radius: 50%;
}

.chat_content {
	/* width: -webkit-fill-available; */
	flex-grow: 100;
	/* background-color: cadetblue; */
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.chat_name {
	margin-bottom: 5px;
}

.chat_time {
	/* background-color: crimson; */
	width: 50px;
	/* line-height: 50px; */
	padding-top: 10px;
	vertical-align: top;
	text-align: right;
}

.chat_time > p {
	font-size: 12px;
}

#content {
	width: -webkit-fill-available;
	background-color: darkgreen;
	/* display: flex; */
	flex-direction: column;
	/* padding: 10px; */
}

#content_header {
	background-color: #f0f0f0;
	height: 50px;
	display: flex;
	flex-direction: row;
	padding: 10px;
	border-left: solid 1px #dedede;
	border-bottom: solid 1px #dedede;
}

#content_profile_pict {
	width: 50px;
}

#foto_profil3 {
	/* height: 100%; */
	height: 50px;
	width: 50px;
	object-fit: cover;
	border-radius: 50%;
}

#content_profile_name {
	flex-grow: 100;
	/* overflow: hidden; */
	/* background-color: rgb(35, 206, 189); */
	margin-left: 10px;
	line-height: 50px;
}

#content_header_symbol {
	align-items: center;
	line-height: 50px;
	justify-content: space-around;
	/* background-color: chartreuse; */
	width: 100px;
}

#content_body {
	flex-grow: 100;
	flex-direction: column;
	background-color: rgb(184, 42, 42);
	background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
	/* background-repeat: repeat; */
	/* background-position: center; */
	padding: 10px 60px;
	overflow-y: scroll;
}

#content_footer {
	height: 25px;
	background-color: #f0f0f0;
	border-left: solid 1px #dedede;
	border-top: solid 1px #dedede;
	padding: 5px;
	flex-direction: row;
}

article {
	margin-bottom: 10px;
}

.bubble_message {
	/* background-color: rgb(193, 252, 104); */
	flex-direction: row;
	padding: 5px 10px;
	border-radius: 15px;
	justify-content: space-between;
	width: fit-content;
	max-width: 70%;
}

.message_stat {
	margin-left: 20px;
	font-size: 11px;
	align-items: flex-end;
}

.message_stat > span > img {
	width: 13px;
	height: 13px;
	vertical-align: bottom;
}

article > span {
	font-size: 13px;
}

#footer_message {
	/* background-color: rgb(192, 26, 26); */
	/* height: 100px; */
	width: 100px;
	flex-grow: 100;
	vertical-align: middle;
}

#footer_message > input {
	border-radius: 20px;
	width: -webkit-fill-available;
}

i {
	height: fit-content;
	cursor: pointer;
}

.flex-right {
	background-color: rgb(193, 252, 104);
	align-self: flex-end;
}

.flex-left {
	background-color: rgb(255, 255, 255);
	align-self: flex-start;
}

.shadow {
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
}

input {
	padding-left: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #fff;
}

.no-outline:focus {
  outline: none;
}









#article2 {
	height: 50%;
	background-color: rgb(151, 28, 141);
	vertical-align: middle;
}

footer {
	height: 150px;
	width: 100%;
	background-color: saddlebrown;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
